[submodule "kbe_calculator_service"]
	path = kbe_calculator_service
	url = https://github.com/Pflanzmann/kbe_calculator_service
[submodule "kbe_application_service"]
	path = kbe_application_service
	url = https://github.com/Pflanzmann/kbe_application_service.git
[submodule "kbe_gateway_service"]
	path = kbe_gateway_service
	url = https://github.com/Pflanzmann/kbe_gateway_service.git
[submodule "kbe_frontend"]
	path = kbe_frontend
	url = https://github.com/Pflanzmann/kbe_frontend.git
